<a [href]="href" (click)="handleNavigation($event)" class="after:content-['']" [ngClass]="{
  'relative capitalize text-xl group text-white pb-1 after:bottom-0 after:left-0 after:h-0.5 after:absolute after:w-[100%] after:scale-x-0 after:bg-white after:origin-bottom-left after:duration-700': true,
  'cursor-default after:scale-x-100': href===router.url,
  'cursor-pointer hover:after:scale-x-100': href!==router.url
}">{{ text }}
  <!-- <span [ngClass]="{'block max-w-0 group-hover:max-w-full transition-all duration-700 h-1 bg-white': href!==router.url,
}"></span> -->
</a>
